.nav-links {
  display: none;
  flex-direction: column;
  background: #333;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  text-align: center;
  gap: 0px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-links li {
  padding: 8px;
}

.nav-links a {
  font-size: 12px;
  padding: 4px 11px;
}

/* Show Hamburger */
.navbar .hamburger {
  display: block;
}

/* Show Close Button when Menu is Open */
.nav-links.open-menu {
  display: flex;
}

.nav-links.open-menu + .hamburger .open {
  display: none;
}

.nav-links.open-menu + .hamburger .close {
  display: inline;
}

/* home */

.home1 {
  height: 50vh;
  margin-top: 0vh;
}

.home-container .home1 h1 {
  font-size: 33px;
  margin: 5px;
  margin-top: 6vh;
  line-height: 42px;
  width: 95%;
}

.home-container .home1 h3 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 21px;
}

.but{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.but button {
  width: 25vh;
  padding: 8px;
}

.but button a {
  font-size: 17px;
}

/* next gen bookmarking */

#digiworld h2 {
  width: 34vh;
  font-size: 17px;
  font-weight: 400;
  padding: 9px;
}

#digiworld {
  height: 70vh;
}
#digiworld h1 {
  font-size: 27px;
  line-height: 31px;
  margin-top: 19px;
  margin-bottom: 15px;
  width: 100%;
}

#digiworld p {
  font-size: 18px;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 6px;
  max-width: 419px;
}

#digiworld .digi_support {
  display: flex
;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

#digiworld .digi_support .digi_totle {
  width: 15vh;
  border-radius: 5px;
  margin: 7px;
  padding: 9px;
  margin-bottom: 28px;
}

#digiworld .digi_support .digi_totle h3 {
  margin: 5px;
  font-size: 16px;
}
/* .info {
  background-color: #1d1c1cb8;
  padding: 10px;
  border-radius: 10px;
  height: 32vh;
  width: 100%;
} */

/* web boxex */

.website-box {
  width: 30vh;
  height: 26vh;
  margin: 5px;
  padding: 10px;
}

/* user search bar  */

.search-item h3 a {
  font-size: 35px;
  padding: 4px 1px 6px;
}

.search-item img {
  height: auto;
  border-radius: 5px;
  width: 75px;
}
.search-item .category {
  font-size: 11px;
  color: rgb(147 138 138);
}
.search-item {
  background: #100f0f;
  box-shadow: 0 0 5px #4a6942;
  width: 60vh;
  height: auto;
}
.search-item p {
  font-size: 18px;
  color: #666;
  margin: 10px;
  height: 65px;
  overflow: hidden;
}
.search-item .s-link-btn {
  margin-top: 13px;

  width: 35vh;
        font-size: 18px;
}

/* #scr
 */
#scr .pa {
  width: 198px;
  font-size: 17px;
  font-weight: 400;
  padding: 8px;
}

.title {
  font-size: 30px;
}

.description {
  font-size: 18px;
}

.search-bar input {
  width: 27vh;
  padding: 10px;
  font-size: 18px;
}

.search-bar button {
  padding: 6px;
  font-size: 15px;
}

.btn {
         /* right: 29%; */
        /* bottom: -40px; */
        padding: 7px 16px;
        font-size: 18px;
        font-weight: 600;
        color: #aba6a6;
        margin: 12px;
}

/* features 
 */

#featurs {
  height: 117vh;
        width: 100%;
        margin-top: 3vh;
}
#featurs h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: -5px;
}

#featurs .item h1 {
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.ftr_itms {
  display: flex
;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.ftr_itms .item {
  width: 30vh;
  height: 23vh;
  margin: 0;
  padding: 15px;
}
.ftr_itms .item h3 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  margin-bottom: 10px;
}

#featurs p {
  margin-bottom: 8px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}
.ftr_itms .item .fe_img {
  font-size: 16px;
  padding: 7px;
}

.ftr_itms .item a {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

.ftr_itms .item .trend {
  right: 14px;
  font-size: 10px;
}

#featurs .fe_btn {
  margin-top: 2vh;
}

/* stay updated  */
#Updated .Updated_sbrbe {
  height: 60vh;
}

#Updated .Updated_sbrbe .Up_true {
  padding: 1px 1px;
}

#Updated .Updated_sbrbe h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

#Updated .Updated_sbrbe h2 {
  font-size: 18px;
  padding: 8px 11px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 7px;
}

#Updated .Updated_sbrbe h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
#Updated .Updated_sbrbe .search-bar {
  padding: 5px;
  margin-bottom: 6px;
}
#Updated .Updated_sbrbe .search-bar input {
  padding: 5px 3px;
}

#Updated .Updated_sbrbe .search-bar button {
  padding: 8px 10px;
  font-size: 11px;
}

#Updated .Updated_sbrbe .Up_true p {
  font-size: 16px;
        margin: 8px 9px
}

#Updated .Updated_sbrbe p {
  margin: 5px;
  font-size: 12px;
}

/* website and tools  */

.display-container {
  margin: 60px auto;
}

.display-container h2 {
  font-size: 35px;
  margin: 11px 9px;
  width: 80%;
}

.display-container p {
  font-size: 18px;
  font-weight: 400;
  margin: 6px 3px;
  color: rgb(143, 142, 142);
  /* text-align: center; */
  width: 80%;
}

#website-list {
  padding: 1px;
  gap: 5px;
}
.website-box {
  width: 36vh;
  height: auto;
  margin: 5px;
  padding: 10px;
}

.website-box img {
  width: 80px;
  margin-bottom: 0px;
  padding: 3px;
}

.website-box h3 {
  font-size: 30px;
  margin: 11px 0;
}

.website-box a {
  color: #3baf40;
  padding: 7px 4px;
  border-radius: 5px;
  font-size: 19px;
  width: 23vh;
}
